<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lingdyo Home</title>
    <link rel="stylesheet" th:href="@{../css/core-style.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Alan+Sans&amp;family=Inconsolata:wght@200..900&amp;display=swap" rel="stylesheet">
</head>
<body>
<nav class="top-nav">
    <ul>
        <li class="navbar-element alan-sans-title current-page"><a href="/my/home">Home</a></li>
        <li class="navbar-element alan-sans-title"><a href="/my/courses">Courses</a></li>
        <li class="navbar-element alan-sans-title"><a href="/dictionary">Dictionary</a></li>
        <li class="navbar-element alan-sans-title" style="float: right;"><a href="/about">About</a></li>
    </ul>
</nav>
<div class="content">
    <div class="main-content">
        <h1 class="alan-sans-title" style="color: #11467F;">Welcome to Lingdyo</h1>
        <p class="inconsolata-body">Lingdyo is a cooperative Language Learning Platform where you can learn a language at the same time
            you work with other to teach a language you already know, there's no pressure to do both, you are the one who
            chooses what to do</p>
    </div>
    <div class="sidebar">
        <header class="language-banner alan-sans-title"><p>Current language: None</p><hr style="border-color: #0D9C92" /></header>
        <div class="board">
            <h3 class="alan-sans-title" style="color:#000020">Nothing to show yet</h3>
        </div>
        <div class="profile-box" style="">
            <a class="alan-sans-title profile-link" href="/my/profile"><div>
                <img th:src="@{../images/no_user.png}" height="144px" width="144px">
                <p style="margin: 50px;" th:text="${username}">"</p>
            </div></a>
        </div>
    </div>
</div>
</body>
</html>