.alan-sans-title {
  font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inconsolata-body {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 22px;
}
.submit-button {
    background-color: #11467f;
    color: azure;
    box-shadow:0px 2px 5px #000
}
.form-page {
    display: flex;
    justify-content: center;
}
input {
    margin-bottom: 20px;
    font-size:20px;
    height:35px
}
.input-shadow-and-style {
    background-color: #00000000;
    box-shadow: inset 0px 3px 5px
}