<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lingdyo</title>
</head>
<body>
	<nav style="height:auto; background-color: #ececed;">
		<ul style="list-style: none; overflow: hidden; height:auto; display: block;padding: 10px;">
			<li style="display: inline-block;"><a href="my/home">Home</a></li>
			<li style="display: inline-block;"><a href="#courses">Course</a></li>
			<li style="display: inline-block;"><a href="#dictionary">Dictionary</a></li>
		</ul>
	</nav>
	<h1>Welcome to Lindyo</h1>
	<p>currently this page is on construction and will be updated in the future</p>
</body>
</html>