<!DOCTYPE html>
<!-- Lo agregué para usar algunas etiquetas de thymeleaf -->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alan+Sans&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
<head>
	<title>Lingdyo login</title>
	<link rel="stylesheet" th:href="@{css/login-style.css}">
    <link rel="stylesheet" th:href="@{css/auth-form-common-style.css}">
</head>
<body class="form-page">
	<div class="form-box" style="">
		<form action="/login" method="POST">
			<label class="alan-sans-title">Username</label>
			<input class="input-shadow-and-style" type="text" name="username" id="username">
			<label class="alan-sans-title">Password</label>
			<input class="input-shadow-and-style" type="password" name="password" id="password">
			<!-- Este es el token para que no tener problemas con CSRF -->
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

			<input class = "submit-button alan-sans-title" style="box-shadow:0px 2px 5px #000" type="submit" name="submit" value="Log in">
			<p class="inconsolata-body">Don't have an account? <a class="alan-sans-title" href="/signup">Sign up</a></p>
			<!-- Esto solo se mostrará si hay algún error por parte del usuario en el login. -->
			<div th:if="${param.error}">
				<p style="color: red;">Usuario o contraseña incorrectos.</p>
			</div>
		</form>
	</div>
</body>
</html>