<!DOCTYPE html>
<!-- Lo agregué para usar algunas etiquetas de thymeleaf -->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alan+Sans&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
<head>
	<title>Lingdyo login</title>
	<link rel="stylesheet" th:href="@{css/signup-style.css}">
    <link rel="stylesheet" th:href="@{css/auth-form-common-style.css}">
</head>
<body class="form-page">
	<div class="signup-box form-box" style="">
		<form action="/signup" method="POST" th:object="${user}">
			<label class="alan-sans-title">Username</label>
			<input class="input-shadow-and-style" type="text" name="username" id="username" th:field="*{username}">
			<label class="alan-sans-title">Password</label>
			<input class="input-shadow-and-style" type="password" name="password" id="password" th:field="*{pswd}">
            <label class="alan-sans-title">Name</label>
            <input class="input-shadow-and-style" type="text" name="name" id="name" th:field="*{name}">
            <label class="alan-sans-title">Lastname</label>
            <input class="input-shadow-and-style" type="text" name="lastname" id="lastname" th:field="*{lastname}">
            <label class="alan-sans-title">E-mail</label>
            <input class="input-shadow-and-style" type="email" name="email" id="email" th:field="*{email}">
            <input class = "submit-button alan-sans-title" type="submit" name="submit" value="Sign up">

			<!-- Este es el token para que no tener problemas con CSRF -->
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

			<p class="inconsolata-body">Already have an account? <a class="alan-sans-title" href="/login">Log in</a></p>
			<!--Esto solo se mostrará si hay algún error por parte del usuario en el login. -->
			<div th:if="${error}">
				<p style="color: red;" th:text="${error}"></p>
			</div>
		</form>
	</div>
</body>
</html>